In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [1]:
for i in range(4):
    for j in range(0, i+1):
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [ ]:
q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [2]:
for i in range(5):
    for j in range(0, i+1):
        print("\t", "ineuron", end=" ")
    print("\n")

	 ineuron

	 ineuron 	 ineuron

	 ineuron 	 ineuron 	 ineuron

	 ineuron 	 ineuron 	 ineuron 	 ineuron

	 ineuron 	 ineuron 	 ineuron 	 ineuron 	 ineuron

Ques 3 : Try to extract all the list entityÂ¶

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
for i in l:
    if type(i) == list:
        print (i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict enteties

In [5]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [6]:
for i in l:
    if type(i) == tuple:
        print (i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

Q6 : Try to extract all the numerical data it may b a part of dict key and values

In [9]:
for i in l:
    if type(i)== list or type(i) == set or type(i) == tuple :
        for j in i:
            if type(j)== int :
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k)== int or type(v) == int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

q7 : Try to give summation of all the numeric data

In [13]:
a=[]
for i in l:
    if type(i)== list or type(i) == set or type(i) == tuple :
        for j in i:
            if type(j)== int :
                a.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k)== int or type(v) == int:
                a.append(k)
                a.append(v)
        print(sum(a))

156

q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [14]:
a

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [16]:
b=[]
for i in a:
    if i % 2 !=0:
        b.append(i)
print(b)

[1, 3, 3, 5, 3, 5, 7, 45, 5, 23, 3, 7]

q9 : Try to extract "ineruon" out of this data

In [17]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [23]:
for i in l:
    if type(i) == list:
        for j in i:
            if j =="ineuron":
                print(j)
    if type(i) == dict:
        for v in i.values():
            if v== "ineuron" :
                print (v)

ineuron
ineuron

q10 :Try to find out a number of occurances of all the data

In [25]:
m= str(l)

In [28]:
for i in set(m):
    print(i, m.count(i))

s 2
] 3
r 3
o 2
4 5
6 3
[ 3
7 2
5 4
( 2
k 4
n 5
, 24
c 2
a 3
i 3
} 2
) 2
8 1
h 1
  31
2 4
m 1
u 4
3 6
' 16
{ 2
: 5
d 2
t 1
1 2
e 4

In [29]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

q11 : Try to find out number of keys in dict element

In [42]:
for i in l:
    if type(i) == dict:
        print(i.keys(),"Number of keys:", len(i.keys()))

dict_keys(['k1', 'k2', 'k3', 3, 7]) Number of keys: 5

q12 : Try to filter out all the string data

In [55]:
l3=[]
for i in l:
    if type(i)== list :
        for j in i:
            if type(j)== str :
                l3.append(j)
            
    if type(i) == dict:
        for k,v in i.items():
            if type(k)== str or type(v) == str:
                l3.append(k)
                l3.append(v)
print(l3)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

q13 : Try to Find  out alphanum in data

In [48]:
for i in l3:
    if type(i) == str:
        l3.append(i)
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [51]:
str(l3)

"[{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}]"

In [57]:
for i in l3:
    if type(i)== str:
        if i.isalnum() == True:
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [58]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [80]:
#--------------------------for list--------------------
x=[]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int :
                x.append(j)

mul=1
for i in x:
    mul=mul*i
print("multiplication of list:-", x, "which is", mul)

#--------------------------for tuple--------------------
x=[]
for i in l:
    if type(i)==tuple:
        for j in i:
            if type(j)==int :
                x.append(j)

mul=1
for i in x:
    mul=mul*i
print("multiplication of tuple:-", x, "which is", mul)

#----------------------------for set---------------------
x=[]
for i in l:
    if type(i)==set:
        for j in i:
            if type(j)==int :
                x.append(j)

mul=1
for i in x:
    mul=mul*i
print("multiplication of set:-", x, "which is", mul)

#----------------------------for dict---------------------
x=[]
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)== int:
                x.append(k)
                x.append(v)

mul=1
for i in x:
    mul=mul*i
print("multiplication of dict:-", x, "which is", mul)

multiplication of list:- [1, 2, 3, 4] which is 24
multiplication of tuple:- [2, 3, 4, 5, 6, 3, 4, 5, 6, 7] which is 1814400
multiplication of set:- [45, 4, 5, 23] which is 20700
multiplication of dict:- [3, 6, 7, 8] which is 1008

q15 : Try to unwrape all the collection inside collection and create a flat list

In [84]:
x=[]
for i in l:
    if type(i)==dict:
        for k,v in i.items():
                x.append(k)
                x.append(v)
for i in l:
    if type(i)== list or type(i) == set or type(i) == tuple :
        for j in i:
            x.append(j)
        
x

['k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science ']