In [2]:
l =[1,2,3,4,5,"MEDHA", "sudh", 13.94]

In [3]:
for i in l :
    print (i)

1
2
3
4
5
MEDHA
sudh
13.94

In [5]:
# body of for loop can never be empty:

for i in l:

IndentationError: expected an indented block (1924942804.py, line 3)

In [6]:
for i in l :
    pass

In [7]:
s = 'medhu'
for i in (s):
    print (i)

m
e
d
h
u

In [8]:
l

[1, 2, 3, 4, 5, 'MEDHA', 'sudh', 13.94]

In [10]:
for i in l:
    print(i)
else :
    print("loop completes")

1
2
3
4
5
MEDHA
sudh
13.94
loop completes

In [13]:
# else excutes only when for loop exhaust itself otherwise never

for i in l:
    if i==4:
        break
    print(i)
else :
    print ("excute only if for loop exhaust")

1
2
3

In [17]:
s = "medha"
for i in s :
    if i =="h" :
        break
    print(i)
else :
    print("not exhausted")

m
e
d

In [18]:
s = "medha"
for i in s :
    if i =="z" :
        break
    print(i)
else :
    print("not exhausted")

m
e
d
h
a
not exhausted

In [20]:
t = (4,5,6,7,6,8,9, "medha")
for i in t:
    print (i)

4
5
6
7
6
8
9
medha

In [21]:
b = {4,45,56,6,7,7,8,8,9,"medha"}

In [22]:
type(b)

set

In [23]:
b

{4, 45, 56, 6, 7, 8, 9, 'medha'}

In [24]:
for i in b:
    print (i)

4
6
7
8
9
45
56
medha

In [25]:
d = {'key1': "medha", "contact": "8998", "lol": "cool"}

In [32]:
for i in d :
    print(i,":",d[i])

key1 : medha
contact : 8998
lol : cool

In [33]:
 m = "sudh"

In [43]:
for i in m:
    print (m)

sudh
sudh
sudh
sudh

In [44]:
range(9)

range(0, 9)

In [45]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [50]:
list(range(0,9,-1))

[]

In [51]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [57]:
for i in range(4):
    for j in range(0,i+1):
        print ("sudh", end= " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [71]:
for i in range(3):
    for j in range (0, i+1):
        print ("\t", "sudh", end =" ")
    print("\n")

	 sudh

	 sudh 	 sudh

	 sudh 	 sudh 	 sudh

In [73]:
rows = int(input("Enter number of rows: "))
coef = 'sudh'

for i in range(1, rows+1): #why is lower bound 1? and not 0
    for space in range(1, rows-i+1):
        print(" ",end=" ")
    for j in range(0, i):
        print(coef, end = " ")
    print()

Enter number of rows: 3
    sudh
  sudh sudh
sudh sudh sudh

In [74]:
t =(3,23,45,67,2,4,5,6)

In [80]:
for i in t:
    print(t.index(i), i)

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [78]:
t.index(3)

0

In [86]:
s = "ineuron"

for i in s:
    print(s.index(i), i)

0 i
1 n
2 e
3 u
4 r
5 o
1 n

In [87]:
t

(3, 23, 45, 67, 2, 4, 5, 6)

In [91]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [92]:
s = "ineuron"

In [106]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [152]:
range(len(s))

range(0, 7)

In [155]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [190]:
for i in range(len(s)-1,-1,-1):
    print (i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [158]:
m = "medha mishra"

In [164]:
list(range(len(m)-1,-1,-1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [166]:
for i in list(range(len(m)-1,-1,-1)):
    print(i, m[i])

11 a
10 r
9 h
8 s
7 i
6 m
5
4 a
3 h
2 d
1 e
0 m

In [167]:
m

'medha mishra'

In [171]:
list(range(len(m)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [179]:
for i in range(len(m),-1,-1):
    print (i, m[i])

IndexError: string index out of range

In [180]:
s

'ineuron'

In [183]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [185]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [191]:
d

{'key1': 'medha', 'contact': '8998', 'lol': 'cool'}

In [205]:
d.items()

dict_items([('key1', 'medha'), ('contact', '8998'), ('lol', 'cool')])

In [208]:
for i in d.items() :
    print(i, type(i), type(i[1]))

('key1', 'medha') <class 'tuple'> <class 'str'>
('contact', '8998') <class 'tuple'> <class 'str'>
('lol', 'cool') <class 'tuple'> <class 'str'>

In [215]:
l =["sudh", "kumar", 32442563, "sudhanshu@ineuron.ai", 3435, 673676]

In [216]:
l

['sudh', 'kumar', 32442563, 'sudhanshu@ineuron.ai', 3435, 673676]

In [227]:
m=[]

In [231]:
for i in l:
    if type(i)==int:
        m.append(i)

In [232]:
m

[32442563, 3435, 673676]

In [233]:
d= {1:3463846, "name": "sudhanshu", "email": "sudhanshu@ai.ie", 234:"gbr", "43":"ddh", 234 :"3453"}

In [244]:
for i in d:
    if type(i)==(int):
        print(i,d[i])

1 3463846
234 3453

In [245]:
s = 'aaaabbccd'

In [249]:
s.count("a")

4

In [256]:
set(s)

{'a', 'b', 'c', 'd'}

In [260]:
for i in set(s):
    print(i, ":",s.count(i) )

d : 1
b : 2
c : 2
a : 4

In [269]:
i = 345634647837384785

In [278]:
for j in i:
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
7 <class 'int'>
8 <class 'int'>
3 <class 'int'>
7 <class 'int'>
3 <class 'int'>
8 <class 'int'>
4 <class 'int'>
7 <class 'int'>
8 <class 'int'>
5 <class 'int'>

In [273]:
i = str(i)

In [298]:
t = ("sudh","kumar",[1,2,3,4,5], (3,4,5,6), {3: 3, "key2": "kumar})"})

In [286]:
t[2][2]

3

In [287]:
t[3][0]

3

In [311]:
 for i in t:
        if type(i)== list or type(i)==tuple :
            for j in i :
                if j==3:
                    print(j)
        if type(i)== dict:
            for k,v in i.items():
                if k==3 or v==3:
                    print(k,v)

3
3
3 3

In [290]:
t

('sudh',
 'kumar',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {'key1': 'sudh', 'key2': 'kumar})'})