In [3]:
a = 10
if a==10 :
    print("this is my first condition")

this is my first condition

In [7]:
a =  10
if a > 5 :
    pass

In [9]:
a = 10
if a < 8 :
    print("print if this is true")

In [16]:
a =10
if a !=11 :
    print("true")
else :
        print("false")

true

In [17]:
a =10
if a ==11 :
    print("true")
else :
        print("false")

false

In [18]:
a = 10
if a==12 :
    print("hello")
elif a==11 :
    print ("bye")
else :
    print("all good")

all good

In [19]:
a = 10
if a==12 :
    print("hello")
elif a==10 :
    print ("bye")
else :
    print("all good")

bye

In [20]:
price = 999
if price > 999 :
    print("dont buy")
elif price <999 :
    print("buy")

In [21]:
price = 999
if price > 999 :
    print("dont buy")
elif price <=999 :
    print("buy")

buy

In [22]:
price = 999
if price > 999 :
    print("dont buy")
elif price <=999 :
    print("buy")
else price == 999 :
    print("lol")

SyntaxError: invalid syntax (2852741617.py, line 6)

In [23]:
price = 999
if price > 999 :
    print("dont buy")
elif price <999 :
    print("buy")
elif price == 999 :
    print ("for sure buy")
else :
    print("lol")

for sure buy

In [28]:
l = [1,2,3,4,5,6]
if 2 in l:
    print ("yes")
else :
    print ("no")

yes

In [25]:
l = [1,2,3,4,5,6]
2 in l

True

In [29]:
l

[1, 2, 3, 4, 5, 6]

In [31]:
if 1 in l :
    print ("addition")
elif 2 in l :
    print ("sub")
elif 3 in l :
    print ("mul")

addition

In [32]:
if 10 in l :
    print ("addition")
elif 2 in l :
    print ("sub")
elif 3 in l :
    print ("mul")

sub

In [33]:
if 10 in l :
    print ("addition")
elif 2 in l :
    print ("sub")
elif 3 in l :
    print ("mul")
if 4 in l :
    print("new")

sub
new

In [34]:
a = 400

In [44]:
#Type Casting - convert one data type to another
# by default input function return string values
b = int(input())

KeyboardInterrupt: Interrupted by user

In [38]:
b

'500'

In [43]:
type(b)

int

In [ ]:
price = int(input())
if price <500 :
    print("buy something")
    if price <400 :
        print("buy jacket")
    elif price <300 :
        print("buy shirt")
    else :
        print("nothing")
else :
    print("mai kuch nahi kahreed paungi")

In [5]:
price = int(input())
if price <500 :
    print("buy something")
    if price <400 :
        print("buy jacket")
    elif price <300 :
        print("buy shirt")
    else :
        print("nothing")
else :
    print("mai kuch nahi kahreed paungi")

420
buy something
nothing

In [1]:
price = int(input())
if price <500 :
    print("buy something")
elif price <300 :
        print("buy shirt")

else :
    print("mai kuch nahi kahreed paungi")

1
buy something

In [8]:
price = int(input())
if price <500 :
    print("buy something")
    if price <400 :
        print("buy jacket")
    elif price <300 :
        print("buy shirt")
        if price <250 :
            print ("cooool")
        
    else :
        print("nothing")
else :
    print("mai kuch nahi kahreed paungi")
    if price>500 :
        print("done flnlr")

1000
mai kuch nahi kahreed paungi
done flnlr

In [21]:
marks = int(input())
if marks > 600 :
    print ("GRE")
elif marks < 600 :
    print ("No GRE")
    if marks < 500 :
        print ("TOFEL")
        if marks < 400 :
            print ("try somethin g else")

300
No GRE
TOFEL
try somethin g else

In [4]:
val = float(input("enter a floating point number  "))
if val>= 0 :
    if val == 0 :
        print ("entered value is zero")
    else :
        print ("value is a positive number")
else :
    print ("entered number is negative number")

enter a floating point number  324
value is a positive number

In [5]:
a = 10
if a < 10 or a== 10 :
    print ("try something")

try something

In [6]:
a = 10
if a < 10 and a== 10 :
    print ("try something")

In [7]:
a = "medha"
if a == "medha" and a =="Medha" :
    print ("this is medha")

In [8]:
a = "medha"
if a == "medha" or a =="Medha" :
    print ("this is medha")

this is medha

In [12]:
a = 10
b = 11
c = 12
d = 13

if a ==10 and b==11 and c ==12 or d==14 :
    print ("cool")

cool

In [13]:
d = {"key1": "medha", "key2": "sudh", "key3" : "iNeuron"}

In [16]:
if d['key1'] == "medha" and d["key2"] == "Sudh" and d["key3"] == "iNeuron" :
    print("all the value are verified")
    print(d.values())
else :
    print("values not verified")

values not verified

In [17]:
# FOR LOOP
l =[1,2,3,4,"medha", 13.94]

In [23]:
for i in l :
    if type(i)== int or type(i) == float :
        print(i +1)
    elif type(i)== str:
        print (i + str(1))

2
3
4
5
medha1
14.94

In [25]:
a = [9,8,7,6,5,4,3,2,10]
for i in a :
    print(i)

9
8
7
6
5
4
3
2
10

In [27]:
a = [34]

In [28]:
type(a)

list

In [29]:
l

[1, 2, 3, 4, 'medha', 13.94]

In [33]:
l1 =[]
for i in l:
    if type(i) == int :
        l1.append(i)

In [34]:
l1

[1, 2, 3, 4]